    <div id="wrapper">
      <div class="row">
      <h1>Scrape the Universe Daily</h1>
      </div>
      <div class="row">
        <div class="col-2">
          <button id="scrape-button">Scrape for Articles in the Daily Universe</button>
        </div>
        <div class="col-2"><button><a href="/saved">Saved Articles</a></button></div>
        </div>

    </div>